@model WebAppViewModel
@{
    Layout = null;

    var classNames = "panel panel-default dropdown";

}
<li class="@classNames">
    <a data-toggle="collapse" >
        <span class="icon fa fa-bar-chart"></span><span class="title">WebApp</span>
    </a>
    <!-- Dropdown level 1 -->
    <div id="reports-nav" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav navbar-nav">
          <li>1</li>
                <li>2</li>
            </ul>
        </div>
    </div>
</li>